<!doctype html>
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title> <!-- Insert the title from Markdown -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
    {% include head.html %}
  </head>

  <body 
    class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" 
    dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}" 
    style="max-width: 1400px; margin: 0 auto; padding: 20px; font-size: 20px;">

    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}
    
    <div class="initial-content" style="width: 100%; max-width: 1000px; margin: 0 auto;">
      <!-- Add the title here above the content -->
      <h1>{{ page.title }}</h1>  <!-- Display the title above the content -->

      <!-- The content of the page goes here -->
      {{ content }}
    </div>

    {% include scripts.html %}
  </body>
</html>
